/* .header{
  
} */
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("http://tenbytwenty.com#nevis");

body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: #00ffea;
}

.title {
    letter-spacing: 0.5em;
    color: white;
}

.col-lg-3 {
  padding: 0em;
}

.card {
    background-color: #202020;
    border-color: black;
    /* margin: 0.5em; */
    /* width: 40rem; */
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.btn-outline-primary {
    color: #00ffea;
    border-color: #00ffea;
    margin: .5em;
}

.btn-outline-primary:hover {
    color: #202020;
    background-color: #00ffea;
    border-color: #00ffea;
}

.btn-primary {
    color: #202020;
    background-color: #00ffea;
    border-color: #00ffea;
    margin: .5em;
}

.btn-primary:hover {
    color: #202020;
    background-color: #00cebd;
    border-color: #00cebd;
}

.card-title {
    color: #00ffea;
    letter-spacing: 0.25em;
}

.grey-text {
    color: #a1a1a1;
}

.lets-build {
    font-family: "Open-sans", sans-serif;
    font-size: 20rem;
    font-weight: bolder;
    letter-spacing: 0.1em;
    color: #00ffea;
    background: url(./images/space-6.gif) no-repeat;
    background-size: 70rem;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: "";
    -webkit-text-fill-color: transparent;
    width: 80rem;
    text-align: center;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.page-title {
    color: #00ffea;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding-bottom: 1em;
    /* float: right; */
    font-size: 12pt;
}

/* Mouse Start */
@-webkit-keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@-moz-keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
.mouse-scroll {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #fff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    margin-top: 1em;
    text-decoration: none;
    overflow: hidden;
}
.mouse-scroll .mouse {
    position: relative;
    display: block;
    width: 46px;
    height: 73px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #fff;
    border-radius: 23px;
}
.mouse-scroll .mouse .mouse-movement {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation: scroll-ani 4s linear infinite;
    -moz-animation: scroll-ani 4s linear infinite;
    animation: scroll-ani 4s linear infinite;
}
.mouse-scroll .mouse-message {
    float: left;
    margin: -200px 0 0 7px;
    padding: 0;
    -webkit-animation: scroll-ani 4s linear infinite;
    -moz-animation: scroll-ani 4s linear infinite;
    animation: scroll-ani 4s linear infinite;
}
.mouse-scroll:hover .mouse-message {
    margin-top: 0;
}
/* Mouse End */

/* Social Media Icons Start */
*,
*:before,
*:after {
    box-sizing: inherit;
}

.ir {
    display: block;
    overflow: visible;
    padding: 0 0 100%;
    position: relative;
    height: 0;
    width: 100%;
}

.ir > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.soc {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0 auto;
    padding: 48px;
    padding: 1rem;
    text-align: center;
    width: 50%;
    max-width: 100%;
}
.soc li {
    display: inline-block;
    margin: 12px;
    margin: 1.2rem;
}
.soc a,
.soc svg {
    display: block;
}
.soc a {
    position: relative;
    height: 96px;
    height: 9.6rem;
    width: 96px;
    width: 9.6rem;
}

.icon-8:hover,
.icon-13:hover,
.icon-15:hover,
.icon-17:hover,
.icon-28:hover {
    border-radius: 100%;
    color: black;
    fill: black;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out,
        -webkit-transform 0.5s ease-out;
}

.icon-8 {
    color: #00ffea;
    fill: #00ffea;
}
.icon-8:hover {
    background: #00ffea;
}

.icon-13 {
    color: #00ffea;
    fill: #00ffea;
}
.icon-13:hover {
    background: #00ffea;
}

.icon-15 {
    color: #00ffea;
    fill: #00ffea;
}
.icon-15:hover {
    background: #00ffea;
}

.icon-17 {
    color: #00ffea;
    fill: #00ffea;
}
.icon-17:hover {
    background: #00ffea;
}

.icon-28 {
    color: #00ffea;
    fill: #00ffea;
}
.icon-28:hover {
    background: #00ffea;
}
/* Social Media Icons End */
