/* .header{
  
} */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('http://tenbytwenty.com#nevis');
body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 2em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

a {
  color: #00ffea;
}

.title {
  letter-spacing: .5em;
  color: white;
}

.card{
  background-color: #202020;
  border-color: black;
  margin: .5em;
  width: 40em;
}

.btn-outline-primary{
  color: #00ffea;
  border-color: #00ffea;
}

.btn-outline-primary:hover{
  color: #202020;
  background-color: #00ffea;
  border-color: #00ffea;
}

.card-title{
  color: #00ffea;
  letter-spacing: .25em;
}

.grey-text {
  color: #a1a1a1;
}

.lets-build {
  font-family: 'Open-sans', sans-serif;
  font-size: 20rem;
  font-weight: bolder;
  letter-spacing: .1em;
  color: white;
  background: url(./images/water-5.gif) no-repeat;
  background-size: 70rem;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-title {
  color: #00ffea;
  text-transform: uppercase;
  letter-spacing: .5em;
  padding-bottom: 1em;
}

@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.mouse-scroll {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7F8C8D;
  color: #FFF;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  margin-top: 10%;
  text-decoration: none;
  overflow: hidden;
}
.mouse-scroll .mouse {
  position: relative;
  display: block;
  width: 46px;
  height: 73px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #FFF;
  border-radius: 23px;
}
.mouse-scroll .mouse .mouse-movement {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #FFF;
  border-radius: 50%;
  -webkit-animation: scroll-ani 4s linear infinite;
  -moz-animation: scroll-ani 4s linear infinite;
  animation: scroll-ani 4s linear infinite;
}
.mouse-scroll .mouse-message {
  float: left;
  margin: -200px 0 0 7px;
  padding: 0;
  -webkit-animation: scroll-ani 4s linear infinite;
  -moz-animation: scroll-ani 4s linear infinite;
  animation: scroll-ani 4s linear infinite;
}
.mouse-scroll:hover .mouse-message {
  margin-top: 0;
}
