/* .header{
  
} */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('http://tenbytwenty.com#nevis');
body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #00ffea;
}

.title {
  letter-spacing: .5em;
  color: white;
  text-align: center;
}

.card{
  background-color: #202020;
  border-color: black;
  margin: .5em;
  width: 48%;
}

.btn-outline-primary{
  color: #00ffea;
  border-color: #00ffea;
}

.btn-outline-primary:hover{
  color: #202020;
  background-color: #00ffea;
  border-color: #00ffea;
}

.card-title{
  color: #00ffea;
  letter-spacing: .25em;
}

.grey-text {
  color: #a1a1a1;
}

.lets-build {
  font-family: 'Open-sans', sans-serif;
  font-size: 20rem;
  font-weight: bolder;
  text-align: center;
  letter-spacing: .1em;
  color: white;
  background: url(./images/water-5.gif) no-repeat;
  background-size: 70rem;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}